

<footer>
    <div class="container-fluid">
        <div class="newFooter">
        <div class="row">
        <div class="col s6 m4 l4 blockfoot">
            <span class="footTitle">ПОКУПЦЮ</span>
            <ul class="liListFoot">
                <li >
                    <a href="#">Лукбук</a>
                </li>

                <li>
                    <a href="#">Доставка і оплата</a>
                </li>

                <li>
                    <a href="#">Гарантія та повернення</a>
                </li>

                <li>
                    <a href="#">Резерв в магазині</a>
                </li>

                <li>
                    <a href="#">Корпоративні замовлення</a>
                </li>

                <li>
                    <a href="#">Розмірна сітка</a>
                </li>

                <li>
                    <a href="#">Особистий кабінет</a>
                </li>
            </ul>
        </div>

            <div class="col s6 m3 l3 blockfoot">
                <span class="footTitle">КОМПАНІЯ</span>
            <ul class="liListFoot">
                <li>
                    <a href="#">Про Arber</a>
                </li>

                <li>
                    <a href="#">Бренди</a>
                </li>

                <li>
                    <a href="#">Arber Club</a>
                </li>

                <li>
                    <a href="#">Вакансії</a>
                </li>
                <li>
                    <a href="#">Контакти</a>
                </li>
                <li>
                    <a href="#">Магазини</a>
                </li>
            </ul>
        </div>

        <div class="col s12 m5 l5">
            <span class="footTitle">НАШІ ПАРТНЕРИ</span>
            <ul class="liListFootlogo">
                <!--
                <li class="pLogo"><a href="#"><img src="../../assets/images/bg/ukraine.png"></a></li>
                <li class="pLogo"><a href="#"><img src="../../assets/images/bg/dynamo.png"></a></li>
                -->
            </ul>
            <span class="footTitle">МИ В СОЦІАЛЬНИХ МЕРЕЖАХ</span>
            <ul class="liListFootlogo">
                <li class="pLogo"><a href="#"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
                <li class="pLogo"><a href="#"><i class="fa fa-google fa-2x" aria-hidden="true"></i></a></li>
                <li class="pLogo"><a href="#"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
                <li class="pLogo"><a href="#"><i class="fa fa-pinterest-p fa-2x" aria-hidden="true"></i></a></li>

            </ul>
        </div>
    </div>
    </div>
    </div>
</footer>
<div class="copiright">
    <p>ARBER © 2016-2018</p>
</div>
