

<footer>
    <div class="container-fluid">
        <div class="newFooter">
        <div class="row">
        <div class="col s6 m4 l4 blockfoot">
            <span class="footTitle">ПОКУПЦЮ</span>
            <ul class="liListFoot">
                <li >
                    <a routerLink="/blog-posts">Новини</a>
                </li>

                <li>
                    <a routerLink="/blog/ДОСТАВКА-ТА-ОПЛАТА">Доставка і оплата</a>
                </li>

                <li>
                    <a routerLink="/blog/ГАРАНТІЯ-ТА-ПОВЕРНЕННЯ">Гарантія та повернення</a>
                </li>

                <li>
                    <a routerLink="/blog/РЕЗЕРВ-В-МАГАЗИНІ">Резерв в магазині</a>
                </li>

                <li>
                    <a routerLink="/blog/КОРПОРАТИВНІ-ЗАМОВЛЕННЯ">Корпоративні замовлення</a>
                </li>

                <li>
                    <a routerLink="/blog/РОЗМІРНІ-СІТКИ">Розмірна сітка</a>
                </li>

                <li>
                    <a routerLink="/Login-Show">Особистий кабінет</a>
                </li>
            </ul>
        </div>

            <div class="col s6 m3 l3 blockfoot">
                <span class="footTitle">КОМПАНІЯ</span>
            <ul class="liListFoot">
                <li>
                    <a routerLink="/blog/Історія">Про Arber</a>
                </li>

                <li>
                    <a routerLink="/blog/Arber-та-Футбол">Arber та футбол</a>
                </li>

                <li>
                    <a routerLink="/blog/БРЕНДИ-ARBER-FASHION-GROUP">Бренди</a>
                </li>

                <li>
                    <a routerLink="/blog/Програма-лояльності---Arber-LEAGUE">Програма лояльності</a>
                </li>

                <li>
                    <a routerLink="/blog/Вакансії">Вакансії</a>
                </li>
                <li>
                    <a routerLink="/blog/Контакти-і-співпраця">Контакти</a>
                </li>
               <!-- <li>
                    <a href="#">Магазини</a>
                </li> -->
            </ul>
        </div>

        <div class="col s12 m5 l5">
            <span class="footTitle">НАШІ ПАРТНЕРИ</span>
            <ul class="liListFootlogo">
                <li class="pLogo"><a href="#"><img src="../../assets/images/bg/ukraine.png"></a></li>
                <li class="pLogo"><a href="#"><img src="../../assets/images/bg/dynamo.png"></a></li>
            </ul>
            <span class="footTitle">МИ В СОЦІАЛЬНИХ МЕРЕЖАХ</span>
            <ul class="liListFootlogo">
                <li class="pLogo"><a href="#"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
                <!--<li class="pLogo"><a href="#"><i class="fa fa-google fa-2x" aria-hidden="true"></i></a></li>-->
                <li class="pLogo"><a href="#"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
                <!--<li class="pLogo"><a href="#"><i class="fa fa-pinterest-p fa-2x" aria-hidden="true"></i></a></li>-->

            </ul>
        </div>
    </div>
    </div>
    </div>
</footer>
<div class="copiright">
    <p>ARBER © 2016-2018</p>
</div>
