<div class="seoText">
<article>
  <p>З 13 грудня 2017 року в флагманах національної мережі магазинів чоловічого одягу Arber впроваджується новий персональний сервіс. Ми з особливою гордістю презентуємо послуги індивідуального пошиття <strong>Fashion Tailor by Gregory Arber.</strong> </p>
  <input id="read-more-toggle-2" class="read-more-toggle" type="checkbox">
  <div class="read-more-content">
    <p><strong>Мета Fashion Tailor by Gregory Arber</strong> – створення якісного та модного індивідуального стилю, доступного для українців. До цього часу індивідуальне пошиття, так званий tailoring класичного британського формату made to measure, або MTM, був прерогативою бутиків локальних ринків преміум-сегмента. Але саме МТМ- формат дозволяє створити, наприклад, ідеальний чоловічий костюм за 3-4 тижні. Чоловіки, які цінують час та гроші, будуть приємно здивовані. Це набуває особливого значення, коли ви не тільки замовляєте стиль для довершеного персонального образу або прагнете врахування індивідуальних потреб фігури, а й плануєте видатну подію.
      Послуга стартує в Києві (м-н «Arber» вул. Хрещатик 13, м-н «Arber» ТЦ «Ocean Plaza») та Одесі (м-н «Gregory Arber» вул. Грецька 38). З 3-го січня 2018 року послуга буде представлена в 20 магазинах 10 міст України.</p>
  </div>
  <label class="read-more-toggle-label draw" for="read-more-toggle-2"></label>
</article>
</div>

