<div class="container-fluid">
    <div class="activate-forms">
        <div class="row">
            <div class="col s12 l12 m12">
                <h3>ЗГАДАТИ ПАРОЛЬ</h3>

                <h4>Ваш E-mail</h4>
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="E-mail" value="demomail@arber.ua">
                    </mat-form-field>
                </form>
                <button class="enterbtmail" mat-button routerLink="/activate">ВІДПРАВИТИ</button>

            </div>
        </div>
    </div>
</div>