<div id="topmainmenu" class="wsmenucontainer" [class.wsoffcanvasopener]="menuOpen">
    <div class="overlapblackbg"></div>
    <div class="wsmobileheader">
        <!--<a id="wsnavtoggle" class="animated-arrow"><span></span></a> -->
        <a (click)="onClick($event)" class="animated-arrow"><span></span></a>
        <a routerLink="/" class="smallogo"><img src="../../assets/images/brand/logo.png"  alt="" /></a>
        <!-- <a class="callusicon" href="tel:123456789"><span class="fa fa-phone"></span></a> -->
        <!--
               <div id="myModal" class="modal fade in">
                   <div class="modal-dialog">
                       <div class="modal-content">

                           <div class="modal-header">
                               <a class="btn btn-default" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></a>
                           </div>
                           <div class="modal-body">
                               <app-cart></app-cart>
                           </div>
                       </div>
                   </div>
               </div>
        -->
        <a (click)="openCart()" class="callusicon">
            <i class="fa fa-shopping-bag fa-lg" aria-hidden="true"></i>
        </a>

    </div>

    <div class="header">
        <!--Main Menu HTML Code-->
        <nav class="wsmenu">
            <ul class="mobile-sub wsmenu-list">

                <li class="menu-elements"><a routerLink="/" title="Logo Arber"><img class="logo-m" src="../../assets/images/brand/logo_arberp.png"  alt="" /></a></li>

                <div class="search-mobile">
                    <div class="input-group searchTopBlock">
                        <input [value]="searchText" type="text" (keyup)="search($event)" (input)="searchText = $event.target.value" class="form-control mobserch" placeholder="ПОШУК...">
                    </div>
                </div>

                <li class="topLiMainMenu">
                    <a class="" [class.active]="actmenu == 'news'" (click)="onClickMainMenu('news')">НОВИНИ
                        <span class="pluspasiv"></span>
                    </a>
                    <app-news class="megamenu" [@toggleHeight]="menuState.news" [id]="1"> </app-news>
                </li>

                <li class="topLiMainMenu"><a class="" [class.active]="actmenu == 'catalog'" (click)="onClickMainMenu('catalog')">КАТАЛОГ<span class="pluspasiv"></span></a>
                    <app-catalog  class="megamenu" [@toggleHeight]="menuState.catalog" [id]="2"></app-catalog>
                </li>

                <li class="topLiMainMenu"><a class="" [class.active]="actmenu == 'shops'" (click)="onClickMainMenu('shops')">МАГАЗИНИ<span class="pluspasiv"></span></a>
                    <app-shops class="megamenu" [@toggleHeight]="menuState.shops" [id]="3"></app-shops>
                </li>

                <!--[class.active]="rowdown"-->

                <li class="topLiMainMenu"><a class="" [class.active]="actmenu == 'service'" (click)="onClickMainMenu('service')">ПОСЛУГИ<span class="pluspasiv"></span></a>
                    <app-services class="megamenu" [@toggleHeight]="menuState.service" [id]="4"></app-services>
                </li>

                <li class="right-panel"><a (click)="openCart()"><i class="fa fa-shopping-bag fa-lg" aria-hidden="true"></i>
                    <!-- <em class="roundpoint">{{productCount}}</em> -->
                </a>
                    <!--
                    <div id="megamenuCart" class="megamenu halfdiv"><app-cart></app-cart></div>
                    -->
                </li>

                <li class="right-panel"><a (click)="loginClick()"><i class="fa fa-user-o fa-lg" [class.auth]="isAuthenticated()" aria-hidden="true"></i></a></li>
                <li class="right-panel"><a (click)="onClickMainMenu('search')"><i class="fa fa-search fa-lg" aria-hidden="true"></i></a>
                    <div class="megamenu" [@toggleHeight]="menuState.search" >
                        <!-- <form class="topmenusearch">
                             <input [value]="searchText" type="text" (keyup)="search($event)" (input)="searchText = $event.target.value" placeholder="Що ви шукаєте...">
                             <button (click) = "SearchButtonClick()" class="btnsearch">ПОШУК</button>
                         </form> -->
                        <div class="btn-toolbar form-inline" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="input-group searchTopBlock">
                                <input [value]="searchText" type="text" autofocus (keyup)="search($event)" (input)="searchText = $event.target.value" class="form-control" placeholder="Що ви шукаєте...">
                                <span class="input-group-btn">
                                    <button  (click)="SearchButtonClick()" class="btn btn-default" type="button">ВПЕРЕД!</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </li>

                <div class="mobileEnter">
                    <li><a href="/Login-Show"><i class="fa fa-user-o" aria-hidden="true"></i> ВХІД</a></li>
                </div>
            </ul>
        </nav>
        <!--Menu HTML Code-->
    </div>
</div>
